.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
    "header header header"
    "main main aside"
    "main main aside"
    "main main aside"
    "footer footer footer";
    

}

header {
    font-size: 170%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.job {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

@media (min-width: 376px) {

}


